### TAQ Sandbox

Exploring using objects to simplify how we work with data.

In [1]:
import sys
sys.path.insert(0, "../Helper_Input")

from iex_helper import * #imports stock_data class from iex_helper.py

In [2]:
#stock_data class requires two inputs; quotes & trades

quotes = '../AAPL.1.5.18.csv'
trades = '../Trades1.5.18.csv'

AAPL_Jan_5 = quote_wrangler(quotes) #initiate class

In [3]:
quotes = AAPL_Jan_5.quotes_df
quotes.head(100) #already completed formatting

     DateTime             Time EX SYM_ROOT     BID     ASK  NATBBO_IND QU_COND
0  2018-01-04  09:30:00.002440  V     AAPL  172.24  173.28           0       R
1  2018-01-04  09:30:00.007893  Z     AAPL  172.25  173.17           0       R
2  2018-01-04  09:30:00.008077  Z     AAPL  172.25  173.17           0       R
3  2018-01-04  09:30:00.114854  P     AAPL  172.54  172.89           2       R
4  2018-01-04  09:30:00.162143  V     AAPL  169.33  173.28           0       R
5  2018-01-04  09:30:00.179964  P     AAPL  172.63  172.89           2       R
6  2018-01-04  09:30:00.192815  Q     AAPL  172.60  172.71           2       R
7  2018-01-04  09:30:00.199609  Z     AAPL  172.25  173.17           0       R
8  2018-01-04  09:30:00.216050  X     AAPL  172.64  172.95           2       R
9  2018-01-04  09:30:00.217465  V     AAPL  169.33  173.79           0       R
10 2018-01-04  09:30:00.226312  K     AAPL  172.51  173.00           0       R
11 2018-01-04  09:30:00.227268  Y     AAPL  165.84  172.93           0       R
12 2018-01-04  09:30:00.227995  V     AAPL  169.33  176.25           0       R
13 2018-01-04  09:30:00.242036  Z     AAPL  172.25  173.17           0       R
14 2018-01-04  09:30:00.242303  X     AAPL  172.46  172.95           2       R
15 2018-01-04  09:30:00.242620  J     AAPL  165.84  172.98           0       R
16 2018-01-04  09:30:00.258104  Z     AAPL  172.25  172.70           2       R
17 2018-01-04  09:30:00.265703  Z     AAPL  172.25  173.17           2       R
18 2018-01-04  09:30:00.265811  Y     AAPL  165.84  172.93           0       R
19 2018-01-04  09:30:00.295796  Y     AAPL  165.84  172.93           0       R
20 2018-01-04  09:30:00.419196  X     AAPL  172.46  172.67           2       R
21 2018-01-04  09:30:00.419537  X     AAPL  172.46  172.95           2       R
22 2018-01-04  09:30:00.426891  Q     AAPL  172.63  172.71           4       R
23 2018-01-04  09:30:00.428479  Q     AAPL  172.63  172.71           4       R
24 2018-01-04  09:30:00.430316  Q     AAPL  172.63  172.71           4       R
25 2018-01-04  09:30:00.454717  Z     AAPL  172.25  173.17           0       R
26 2018-01-04  09:30:00.474096  B     AAPL  165.84  173.11           0       R
27 2018-01-04  09:30:00.474101  B     AAPL  165.84  179.71           0       R
28 2018-01-04  09:30:00.474214  J     AAPL  165.84  179.71           0       R
29 2018-01-04  09:30:00.474285  Y     AAPL  165.84  179.71           0       R
..        ...              ... ..      ...     ...     ...         ...     ...
70 2018-01-04  09:30:00.591213  Z     AAPL  172.63  172.80           0       R
71 2018-01-04  09:30:00.591215  J     AAPL  165.84  179.71           0       R
72 2018-01-04  09:30:00.591226  K     AAPL  172.63  173.00           0       R
73 2018-01-04  09:30:00.591317  Y     AAPL  172.57  179.71           0       R
74 2018-01-04  09:30:00.591566  Y     AAPL  172.57  179.71           0       R
75 2018-01-04  09:30:00.602997  Z     AAPL  172.63  172.77           2       R
76 2018-01-04  09:30:00.603088  Y     AAPL  172.57  179.71           0       R
77 2018-01-04  09:30:00.603141  Z     AAPL  172.63  172.80           2       R
78 2018-01-04  09:30:00.612221  B     AAPL  165.84  172.80           0       R
79 2018-01-04  09:30:00.614795  Z     AAPL  172.63  172.80           0       R
80 2018-01-04  09:30:00.617490  B     AAPL  165.84  172.80           0       R
81 2018-01-04  09:30:00.629474  Y     AAPL  172.57  172.80           0       R
82 2018-01-04  09:30:00.632086  B     AAPL  165.84  172.80           0       R
83 2018-01-04  09:30:00.635149  Z     AAPL  172.63  172.80           0       R
84 2018-01-04  09:30:00.639762  X     AAPL  172.63  172.95           0       R
85 2018-01-04  09:30:00.647234  Y     AAPL  172.57  179.71           0       R
86 2018-01-04  09:30:00.670141  B     AAPL  165.84  172.80           0       R
87 2018-01-04  09:30:00.694182  V     AAPL  172.63  176.25           0       R
88 2018-01-04  09:30:00.694697  K     AAPL  172.70  173.00           0       R
89 2018-01-04  09:30:00.709947  B     AAPL  165.84  172.80           0       R
90 2018-01-04  09:30:00.773612  B     AAPL  165.84  172.80           0       R
91 2018-01-04  09:30:00.785704  K     AAPL  172.63  173.00           0       R
92 2018-01-04  09:30:00.793869  Q     AAPL  172.71  172.80           4       R
93 2018-01-04  09:30:00.793970  B     AAPL  165.84  172.80           0       R
94 2018-01-04  09:30:00.798341  K     AAPL  172.63  173.00           0       R
95 2018-01-04  09:30:00.800193  B     AAPL  165.84  172.80           0       R
96 2018-01-04  09:30:00.821843  Y     AAPL  172.57  179.71           0       R
97 2018-01-04  09:30:00.830686  Q     AAPL  172.71  172.80           4       R
98 2018-01-04  09:30:00.830853  B     AAPL  165.84  172.80           0       R
99 2018-01-04  09:30:00.831432  Y     AAPL  172.57  179.71           0       R

[100 rows x 8 columns]

In [7]:
t = AAPL_Jan_5.BBO_series()

In [9]:
t.head()

     DateTime             Time EX SYM_ROOT     BID     ASK  NATBBO_IND QU_COND
22 2018-01-04  09:30:00.426891  Q     AAPL  172.63  172.71           4       R
23 2018-01-04  09:30:00.428479  Q     AAPL  172.63  172.71           4       R
24 2018-01-04  09:30:00.430316  Q     AAPL  172.63  172.71           4       R
34 2018-01-04  09:30:00.492765  Q     AAPL  172.63  172.71           4       R
38 2018-01-04  09:30:00.522023  Q     AAPL  172.63  172.71           4       R