# Quote Wrangler and Trade Wrangler DEMO

In [1]:
import sys
sys.path.insert(0, "../Helper_Input")
from iex_helper import * #imports stock_data class from iex_helper.py
#######################################################3
quotes = '../Training_Files/AAPL_train.csv' #
q = pd.read_csv(quotes,low_memory = False)
AAPL_QW = Quote_Wrangler(quotes) #initiate class

In [2]:
help(AAPL_QW)

Help on Quote_Wrangler in module iex_helper object:

class Quote_Wrangler(builtins.object)
 |  Quote_Wrangler(quotes_file, dir='../Helper_Input')
 |
 |  The Quote_Wrangler class is designed to take in a "quotes" file as downloaded from the TAQ database - and extract
 |  a time series of National Best Bid/Offer adjustments during a trading day.
 |
 |  Methods defined here:
 |
 |  BBO_series(self)
 |      Returns a dataframe that contains ONLY BB0 eligible Quotes as outlined by QU_COND codes 'O','R','Y'.
 |      For more information see the TAQ Reference guide.  https://www.nyse.com/publicdocs/nyse/data/Daily_TAQ_Client_Spec_v3.0.pdf
 |
 |  NB_combiner(self, exchange_filter='')
 |      Core function that breaks out quotes that adjust something related to either the National Best Bid or the
 |      National Best Offer, whether that be the actual price of the NBB/NBO or the quantity at the current NBB/NBO.
 |
 |      Using this function we can determine when exchanges join the NBB/NBO or create.
 |
 |      Exchange filter should be list - allows you to filter this process for a specific exchange
 |
 |  __init__(self, quotes_file, dir='../Helper_Input')
 |      Intitialization -----------------------------------------------------------------------------------------------
 |
 |      The "quotes_file" input must include the file location - reccomendation is to use dynamic referencing as follows:
 |      "../Training_Files/<filenames>.csv"
 |
 |      The exchange map is a a transcodification between exchanges/trading venues, and the exchange codes in the TAQ files
 |
 |      the quotes_columns csv file defines what columns from the TAQ quote file we want to keep - as there are initially quite alot.
 |      To alter which columns we keep, simply edit the quotes_column file, found in the same location as the Quote_Wrangler class
 |
 |  create_join_flagger(self, nb_df, nbb_flag=True)
 |      either feed in NBO or NBB only dataframes
 |      nb_df is either NBO or NBB df
 |      NBB_flag True when using NBB data, False for NBO
 |
 |  exchange_analysis(self, exchange_BBO, NBBO)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## First, we use built in methods to extract the consolidated BBO or the NBBO series.

In [3]:
NBBO = AAPL_QW.NB_master
NBBO.head() #Consolidated NBBO

,Time,B_Exchanges,B_Vol_Ex,B_Vol_Tot,Bid,Ask,A_Vol_Tot,A_Vol_Ex,A_Exchanges,Flag,Spread,Mid,Weighted Avg Mid
0,09:00:06.476309,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.820000
1,09:00:22.725508,[P],[2.0],2.0,172.78,172.87,1.0,[1.0],[P],NBB,0.09,172.825,172.810000
2,09:00:22.763127,[P],[2.0],2.0,172.78,172.80,39.0,[39.0],[K],NBO,0.02,172.790,172.799024
3,09:00:23.331916,[P],[2.0],2.0,172.78,172.80,38.0,[38.0],[K],NBO,0.02,172.790,172.799000
4,09:00:47.518971,[P],[2.0],2.0,172.78,172.80,33.0,[33.0],[K],NBO,0.02,172.790,172.798857

## Now we want to analyze a specific exchange - 'P' for NYSE ARCA

In [4]:
ARCA= AAPL_QW.NB_combiner(exchange_filter=['P']) #ARCA
ARCA.head()

,Time,B_Exchanges,B_Vol_Ex,B_Vol_Tot,Bid,Ask,A_Vol_Tot,A_Vol_Ex,A_Exchanges,Flag,Spread,Mid,Weighted Avg Mid
0,09:00:06.476309,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.8200
1,09:00:22.725508,[P],[2.0],2.0,172.78,172.87,1.0,[1.0],[P],NBB,0.09,172.825,172.8100
2,09:00:48.930833,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.8200
3,09:00:58.906143,[P],[1.0],1.0,172.77,172.88,3.0,[3.0],[P],NBO,0.11,172.825,172.8525
4,09:01:02.624291,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBO,0.10,172.820,172.8200

## Now that we have both the NBBO and ARCA's BBO series - we can identify cases of joining vs creating. This is done using the built in method "exchange analyzer"

In [ ]:
AAPL_QW.exchange_analysis(ARCA,NBBO)

In [7]:
test = AAPL_QW.create_join_flagger(ARCA)

##### Isolate just the NBB and NBO for analysis - already built in as NBB or NBO

In [10]:
BBO = AAPL_QW.BBO_series()
BBO[BBO.NATBBO_IND == 4] #figure out the difference between 4 and 2

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
56,2018-01-04,09:02:30.105570,P,AAPL,172.77,3,172.80,2,4,R
96,2018-01-04,09:04:26.265688,K,AAPL,172.82,2,172.87,1,4,R
99,2018-01-04,09:05:12.063264,K,AAPL,172.82,2,172.87,4,4,R
106,2018-01-04,09:07:13.775382,K,AAPL,172.83,1,172.87,3,4,R
125,2018-01-04,09:08:02.343750,K,AAPL,172.82,3,172.87,3,4,R
160,2018-01-04,09:08:31.330930,P,AAPL,172.83,2,172.87,1,4,R
163,2018-01-04,09:09:02.972468,P,AAPL,172.83,2,172.87,21,4,R
164,2018-01-04,09:09:08.478669,P,AAPL,172.83,2,172.87,20,4,R
165,2018-01-04,09:09:10.146183,P,AAPL,172.83,2,172.86,1,4,R
195,2018-01-04,09:10:11.073534,P,AAPL,172.82,2,172.83,13,4,R
197,2018-01-04,09:10:13.556916,P,AAPL,172.82,2,172.83,12,4,R
210,2018-01-04,09:10:37.208672,P,AAPL,172.78,1,172.83,12,4,R
216,2018-01-04,09:10:40.254352,P,AAPL,172.78,1,172.82,2,4,R
242,2018-01-04,09:13:29.373583,P,AAPL,172.77,2,172.78,2,4,R
247,2018-01-04,09:13:31.305138,P,AAPL,172.77,2,172.78,1,4,R
253,2018-01-04,09:14:12.219219,P,AAPL,172.77,2,172.78,2,4,R
254,2018-01-04,09:14:28.988213,P,AAPL,172.77,1,172.78,2,4,R
303,2018-01-04,09:15:36.290224,K,AAPL,172.72,2,172.74,1,4,R
335,2018-01-04,09:16:44.166791,K,AAPL,172.72,1,172.75,9,4,R
344,2018-01-04,09:17:17.593694,P,AAPL,172.70,4,172.78,2,4,R
345,2018-01-04,09:17:17.593796,P,AAPL,172.73,1,172.78,2,4,R
346,2018-01-04,09:17:17.593805,P,AAPL,172.70,4,172.78,2,4,R
347,2018-01-04,09:17:24.305441,P,AAPL,172.72,1,172.78,2,4,R
365,2018-01-04,09:17:31.430809,P,AAPL,172.71,1,172.78,2,4,R
366,2018-01-04,09:17:36.971327,P,AAPL,172.71,1,172.77,1,4,R
367,2018-01-04,09:18:20.391090,P,AAPL,172.71,1,172.75,10,4,R
371,2018-01-04,09:18:54.396966,P,AAPL,172.71,1,172.75,11,4,R
372,2018-01-04,09:18:56.553951,P,AAPL,172.70,2,172.75,11,4,R
373,2018-01-04,09:18:56.563407,P,AAPL,172.70,2,172.71,3,4,R
374,2018-01-04,09:18:57.358865,P,AAPL,172.70,2,172.75,11,4,R
...,...,...,...,...,...,...,...,...,...,...
181068,2018-01-04,09:59:41.717292,Q,AAPL,172.89,6,172.90,2,4,R
181132,2018-01-04,09:59:43.623003,Z,AAPL,172.90,2,172.92,2,4,R
181199,2018-01-04,09:59:44.601390,Q,AAPL,172.88,5,172.91,6,4,R
181200,2018-01-04,09:59:44.601392,Q,AAPL,172.88,6,172.91,6,4,R
181202,2018-01-04,09:59:44.601422,Q,AAPL,172.88,6,172.91,7,4,R
181203,2018-01-04,09:59:44.601424,Q,AAPL,172.88,6,172.91,8,4,R
181249,2018-01-04,09:59:44.673115,Q,AAPL,172.89,3,172.92,5,4,R
181250,2018-01-04,09:59:44.724685,Q,AAPL,172.89,3,172.92,3,4,R
181261,2018-01-04,09:59:45.485950,Q,AAPL,172.89,4,172.92,3,4,R
181273,2018-01-04,09:59:46.552077,Q,AAPL,172.89,8,172.92,3,4,R
181281,2018-01-04,09:59:46.567878,Q,AAPL,172.89,8,172.92,3,4,R
181407,2018-01-04,09:59:53.047047,K,AAPL,172.90,7,172.91,6,4,R
181421,2018-01-04,09:59:53.047155,K,AAPL,172.90,16,172.91,6,4,R
181447,2018-01-04,09:59:53.254914,Q,AAPL,172.90,3,172.91,9,4,R
181449,2018-01-04,09:59:53.279167,Q,AAPL,172.90,2,172.91,9,4,R
181479,2018-01-04,09:59:53.279691,K,AAPL,172.89,3,172.90,20,4,R
181522,2018-01-04,09:59:55.240324,Q,AAPL,172.89,6,172.91,7,4,R
181524,2018-01-04,09:59:55.240359,Q,AAPL,172.89,7,172.91,7,4,R
181530,2018-01-04,09:59:55.240409,Q,AAPL,172.90,1,172.91,7,4,R
181593,2018-01-04,09:59:55.260023,Q,AAPL,172.91,1,172.92,2,4,R
181646,2018-01-04,09:59:55.414575,Z,AAPL,172.91,2,172.93,1,4,R
181668,2018-01-04,09:59:55.442863,Q,AAPL,172.91,2,172.94,6,4,R
181736,2018-01-04,09:59:56.088026,Q,AAPL,172.92,6,172.94,3,4,R
181755,2018-01-04,09:59:56.090628,Q,AAPL,172.92,6,172.94,1,4,R
181782,2018-01-04,09:59:56.329586,Q,AAPL,172.93,1,172.95,5,4,R
181856,2018-01-04,09:59:56.776647,K,AAPL,172.94,1,172.95,3,4,R
181910,2018-01-04,09:59:56.778199,P,AAPL,172.93,2,172.94,1,4,R
181962,2018-01-04,09:59:59.245909,P,AAPL,172.92,2,172.94,1,4,R
181986,2018-01-04,09:59:59.261227,P,AAPL,172.93,2,172.94,2,4,R
181988,2018-01-04,09:59:59.261307,P,AAPL,172.92,2,172.94,2,4,R

In [ ]:
test = AAPL_QW.NB_combiner(exchange_filter = ['P'])

In [ ]:
test

##### Extract instances of Joining and Creating (Can either leave as function or build into initiliazation of class
Using the create_join_flagger function, and specifying whether we are looking at bids or asks - we can alter our NBB/NBO dfs to include a column for creating/joining

In [ ]:
# NBB_Create_Joins = AAPL_QW.create_join_flagger(AAPL_QW.NBB,nbb_flag = True)
# NBO_Create_Joins = AAPL_QW.create_join_flagger(AAPL_QW.NBO,nbb_flag = False)

In [ ]:
NBB_Create_Joins.head(15)

In [ ]:
NBO_Create_Joins.head(15)

### Next Steps
1. Quality check on joining/creating flags - make sure they make sense
2. Match trades to order book

## Trade Wrangler

In [ ]:
trades = '../Training_Files/Trades1.5.18.csv' #
t = pd.read_csv(trades,low_memory = False)
#isolate AAPL only trades
aapl_trades = t[t.SYM_ROOT == 'AAPL']
#aapl_trades.to_csv('../Training_Files/AAPL_trades.csv')
aapl_trades.head()

### Column Descriptions of Trade file can be found in the NYSE Client Spec document pg 17
TR_SCOND -> Sale Condition

TR_CORR -> Trade Correction Indicator (could be important)

TR_SOURCE -> Trade Source (N = UTP)

#### Now we want to try and match trades to the limit order book based on time

In [ ]:
aapl_tw = Trade_Wrangler('../Training_Files/AAPL_trades.csv')

In [ ]:
help(aapl_tw)

In [ ]:
aapl_tw.trades.head()

#### Using the trade_finder method in the Trade_Wrangler class we can find all trades that happened after a specified timestamp

We can either grab x number of trades after or all trades that happened within a certain time interval after the specified timestamp

In [ ]:
from IPython.display import display

time_1 = '09:31:00.000000'
print("Five Trades that happened after: ",time_1)
#find first five trades after time_1
display(aapl_tw.trade_finder(time_1,5)) #get first five trades that happened after time_1

#OR get trades that happened 2 seconds after time_1
print("\n Trades that happened 1 second after: ",time_1)
#find first five trades after time_1
display(aapl_tw.trade_finder(time_1,0,time_after = 1)) #get first five trades that happened after time_1

### Analytics

- Limit Order Book metrics:
    - Depth
    - Imbalance
- Trade Metrics 
    - Total trading volume
    - Comparison of trade price to NBBO

In [ ]:
aapl_tw.volume_finder(time_1,5)#get first five trades that happened after time_1

Find mid-price of NBBO at most recent time of each transaction

In [ ]:
NBO_Create_Joins