### TAQ Sandbox

Exploring using objects to simplify how we work with data. 
TAQ Reference : https://www.nyse.com/publicdocs/nyse/data/Daily_TAQ_Client_Spec_v3.0.pdf

In [1]:
import sys
sys.path.insert(0, "../Helper_Input")

from iex_helper import * #imports stock_data class from iex_helper.py

In [2]:
#stock_data class requires two inputs; quotes & trades

quotes = '../AAPL.1.5.18.csv'
trades = '../Trades1.5.18.csv'

AAPL_Jan_5 = quote_wrangler(quotes) #initiate class

In [4]:
quotes = AAPL_Jan_5.quotes_df
quotes.head(50) #already completed formatting

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
0,2018-01-04,09:30:00.002440,V,AAPL,172.24,1,173.28,1,0,R
1,2018-01-04,09:30:00.007893,Z,AAPL,172.25,3,173.17,3,0,R
2,2018-01-04,09:30:00.008077,Z,AAPL,172.25,3,173.17,3,0,R
3,2018-01-04,09:30:00.114854,P,AAPL,172.54,2,172.89,5,2,R
4,2018-01-04,09:30:00.162143,V,AAPL,169.33,3,173.28,1,0,R
5,2018-01-04,09:30:00.179964,P,AAPL,172.63,1,172.89,5,2,R
6,2018-01-04,09:30:00.192815,Q,AAPL,172.60,51,172.71,2,2,R
7,2018-01-04,09:30:00.199609,Z,AAPL,172.25,3,173.17,3,0,R
8,2018-01-04,09:30:00.216050,X,AAPL,172.64,1,172.95,10,2,R
9,2018-01-04,09:30:00.217465,V,AAPL,169.33,3,173.79,1,0,R
10,2018-01-04,09:30:00.226312,K,AAPL,172.51,1,173.00,1,0,R
11,2018-01-04,09:30:00.227268,Y,AAPL,165.84,1,172.93,1,0,R
12,2018-01-04,09:30:00.227995,V,AAPL,169.33,3,176.25,3,0,R
13,2018-01-04,09:30:00.242036,Z,AAPL,172.25,3,173.17,3,0,R
14,2018-01-04,09:30:00.242303,X,AAPL,172.46,6,172.95,10,2,R
15,2018-01-04,09:30:00.242620,J,AAPL,165.84,1,172.98,1,0,R
16,2018-01-04,09:30:00.258104,Z,AAPL,172.25,3,172.70,1,2,R
17,2018-01-04,09:30:00.265703,Z,AAPL,172.25,3,173.17,3,2,R
18,2018-01-04,09:30:00.265811,Y,AAPL,165.84,1,172.93,1,0,R
19,2018-01-04,09:30:00.295796,Y,AAPL,165.84,1,172.93,1,0,R
20,2018-01-04,09:30:00.419196,X,AAPL,172.46,6,172.67,1,2,R
21,2018-01-04,09:30:00.419537,X,AAPL,172.46,6,172.95,10,2,R
22,2018-01-04,09:30:00.426891,Q,AAPL,172.63,5,172.71,2,4,R
23,2018-01-04,09:30:00.428479,Q,AAPL,172.63,6,172.71,2,4,R
24,2018-01-04,09:30:00.430316,Q,AAPL,172.63,7,172.71,2,4,R
25,2018-01-04,09:30:00.454717,Z,AAPL,172.25,3,173.17,3,0,R
26,2018-01-04,09:30:00.474096,B,AAPL,165.84,1,173.11,2,0,R
27,2018-01-04,09:30:00.474101,B,AAPL,165.84,1,179.71,1,0,R
28,2018-01-04,09:30:00.474214,J,AAPL,165.84,1,179.71,3,0,R
29,2018-01-04,09:30:00.474285,Y,AAPL,165.84,1,179.71,2,0,R
30,2018-01-04,09:30:00.474439,M,AAPL,0.00,0,172.99,1,0,Y
31,2018-01-04,09:30:00.474460,M,AAPL,0.00,0,0.00,0,0,R
32,2018-01-04,09:30:00.474814,A,AAPL,0.00,0,173.00,1,0,R
33,2018-01-04,09:30:00.474851,A,AAPL,0.00,0,0.00,0,0,R
34,2018-01-04,09:30:00.492765,Q,AAPL,172.63,7,172.71,3,4,R
35,2018-01-04,09:30:00.505282,P,AAPL,172.71,1,172.89,5,2,R
36,2018-01-04,09:30:00.505380,P,AAPL,172.63,1,172.89,5,2,R
37,2018-01-04,09:30:00.515884,Y,AAPL,172.57,1,179.71,2,0,R
38,2018-01-04,09:30:00.522023,Q,AAPL,172.63,7,172.71,2,4,R
39,2018-01-04,09:30:00.522087,Q,AAPL,172.63,7,172.71,1,4,R
40,2018-01-04,09:30:00.522090,Q,AAPL,172.63,7,172.80,17,4,R
41,2018-01-04,09:30:00.523104,K,AAPL,172.51,1,173.00,1,0,R
42,2018-01-04,09:30:00.523210,Z,AAPL,172.61,1,173.17,3,0,R
43,2018-01-04,09:30:00.523694,Y,AAPL,172.57,1,179.71,2,0,R
44,2018-01-04,09:30:00.524159,Q,AAPL,172.63,7,172.71,1,4,R
45,2018-01-04,09:30:00.525506,Y,AAPL,172.57,1,179.71,2,0,R
46,2018-01-04,09:30:00.530163,X,AAPL,164.00,1,172.95,10,0,R
47,2018-01-04,09:30:00.544454,Q,AAPL,172.63,7,172.80,17,4,R
48,2018-01-04,09:30:00.545599,Z,AAPL,172.61,1,172.80,1,0,R
49,2018-01-04,09:30:00.545671,Z,AAPL,172.63,1,172.80,1,0,R

In [13]:
quotes[(quotes['QU_COND'] == 'O') | (quotes['QU_COND'] == 'R')]

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
0,2018-01-04,09:30:00.002440,V,AAPL,172.24,1,173.28,1,0,R
1,2018-01-04,09:30:00.007893,Z,AAPL,172.25,3,173.17,3,0,R
2,2018-01-04,09:30:00.008077,Z,AAPL,172.25,3,173.17,3,0,R
3,2018-01-04,09:30:00.114854,P,AAPL,172.54,2,172.89,5,2,R
4,2018-01-04,09:30:00.162143,V,AAPL,169.33,3,173.28,1,0,R
5,2018-01-04,09:30:00.179964,P,AAPL,172.63,1,172.89,5,2,R
6,2018-01-04,09:30:00.192815,Q,AAPL,172.60,51,172.71,2,2,R
7,2018-01-04,09:30:00.199609,Z,AAPL,172.25,3,173.17,3,0,R
8,2018-01-04,09:30:00.216050,X,AAPL,172.64,1,172.95,10,2,R
9,2018-01-04,09:30:00.217465,V,AAPL,169.33,3,173.79,1,0,R
10,2018-01-04,09:30:00.226312,K,AAPL,172.51,1,173.00,1,0,R
11,2018-01-04,09:30:00.227268,Y,AAPL,165.84,1,172.93,1,0,R
12,2018-01-04,09:30:00.227995,V,AAPL,169.33,3,176.25,3,0,R
13,2018-01-04,09:30:00.242036,Z,AAPL,172.25,3,173.17,3,0,R
14,2018-01-04,09:30:00.242303,X,AAPL,172.46,6,172.95,10,2,R
15,2018-01-04,09:30:00.242620,J,AAPL,165.84,1,172.98,1,0,R
16,2018-01-04,09:30:00.258104,Z,AAPL,172.25,3,172.70,1,2,R
17,2018-01-04,09:30:00.265703,Z,AAPL,172.25,3,173.17,3,2,R
18,2018-01-04,09:30:00.265811,Y,AAPL,165.84,1,172.93,1,0,R
19,2018-01-04,09:30:00.295796,Y,AAPL,165.84,1,172.93,1,0,R
20,2018-01-04,09:30:00.419196,X,AAPL,172.46,6,172.67,1,2,R
21,2018-01-04,09:30:00.419537,X,AAPL,172.46,6,172.95,10,2,R
22,2018-01-04,09:30:00.426891,Q,AAPL,172.63,5,172.71,2,4,R
23,2018-01-04,09:30:00.428479,Q,AAPL,172.63,6,172.71,2,4,R
24,2018-01-04,09:30:00.430316,Q,AAPL,172.63,7,172.71,2,4,R
25,2018-01-04,09:30:00.454717,Z,AAPL,172.25,3,173.17,3,0,R
26,2018-01-04,09:30:00.474096,B,AAPL,165.84,1,173.11,2,0,R
27,2018-01-04,09:30:00.474101,B,AAPL,165.84,1,179.71,1,0,R
28,2018-01-04,09:30:00.474214,J,AAPL,165.84,1,179.71,3,0,R
29,2018-01-04,09:30:00.474285,Y,AAPL,165.84,1,179.71,2,0,R
...,...,...,...,...,...,...,...,...,...,...
181320,2018-01-04,09:59:59.248224,P,AAPL,172.92,3,172.94,1,0,R
181321,2018-01-04,09:59:59.249411,Y,AAPL,172.92,1,172.96,1,0,R
181322,2018-01-04,09:59:59.249608,P,AAPL,172.93,2,172.94,1,2,R
181323,2018-01-04,09:59:59.249666,B,AAPL,172.92,1,172.97,1,0,R
181324,2018-01-04,09:59:59.249713,B,AAPL,172.91,1,172.97,1,0,R
181325,2018-01-04,09:59:59.260445,Z,AAPL,172.92,5,172.95,1,0,R
181326,2018-01-04,09:59:59.260507,Q,AAPL,172.92,1,172.94,1,0,R
181327,2018-01-04,09:59:59.260539,Z,AAPL,172.92,2,172.95,1,0,R
181328,2018-01-04,09:59:59.260540,Q,AAPL,172.91,9,172.94,1,0,R
181329,2018-01-04,09:59:59.260603,Z,AAPL,172.92,1,172.95,1,0,R
181330,2018-01-04,09:59:59.260631,K,AAPL,172.92,1,172.94,1,0,R
181331,2018-01-04,09:59:59.261227,P,AAPL,172.93,2,172.94,2,4,R
181332,2018-01-04,09:59:59.261245,Z,AAPL,172.92,1,172.94,1,0,R
181333,2018-01-04,09:59:59.261307,P,AAPL,172.92,2,172.94,2,4,R
181334,2018-01-04,09:59:59.261626,Z,AAPL,172.91,7,172.94,1,0,R
181335,2018-01-04,09:59:59.381739,Z,AAPL,172.92,1,172.94,1,0,R
181336,2018-01-04,09:59:59.694353,B,AAPL,172.92,1,172.97,1,0,R
181337,2018-01-04,09:59:59.694394,B,AAPL,172.92,2,172.97,1,0,R
181338,2018-01-04,09:59:59.694453,B,AAPL,172.92,1,172.97,1,0,R
181339,2018-01-04,09:59:59.695084,P,AAPL,172.92,2,172.94,2,0,R
181340,2018-01-04,09:59:59.711811,Q,AAPL,172.92,1,172.94,1,0,R
181341,2018-01-04,09:59:59.722518,Z,AAPL,172.92,1,172.95,5,0,R
181342,2018-01-04,09:59:59.722895,P,AAPL,172.92,2,172.94,1,2,R
181343,2018-01-04,09:59:59.831746,P,AAPL,172.92,2,172.95,2,0,R
181344,2018-01-04,09:59:59.831798,Z,AAPL,172.92,1,172.95,1,0,R
181345,2018-01-04,09:59:59.832079,Z,AAPL,172.92,2,172.95,1,0,R
181346,2018-01-04,09:59:59.832101,Q,AAPL,172.92,2,172.94,1,0,R
181347,2018-01-04,09:59:59.832186,P,AAPL,172.92,3,172.95,2,2,R
181348,2018-01-04,09:59:59.832448,K,AAPL,172.92,6,172.94,1,2,R
181349,2018-01-04,09:59:59.842490,K,AAPL,172.92,1,172.94,1,2,R

In [5]:
t = AAPL_Jan_5.BBO_series()
t.head(20)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [6]:
t[t['EX'] == 'T'].head()

NameError: name 't' is not defined

In [12]:
AAPL_Jan_5.exchange_map

{'A': 'NYSE MKT LLC',
 'B': 'NASDAQ OMX BX, Inc.',
 'C': 'National Stock Exchange Inc. (NSX)',
 'D': 'Financial Industry Regulatory Authority, Inc. (FINRA ADF)',
 'I': 'International Securities Exchange, LLC (ISE)',
 'J': 'Bats EDGA Exchange, INC',
 'K': 'Bats EDGX Exchange, Inc.',
 'M': 'Chicago Stock Exchange, Inc. (CHX)',
 'N': 'New York Stock Exchange LLC',
 'P': 'NYSE Arca, Inc.',
 'S': 'Consolidated Tape System',
 'T': 'NASDAQ Stock Exchange, LLC (in Tape A, B securities)',
 'Q': 'NASDAQ Stock Exchange, LLC (in Tape C securities)',
 'V': 'The Investors Exchange, LLC (IEX)',
 'W': 'Chicago Broad Options Exchange, Inc.(CBOE)',
 'X': 'NASDAQ OMX PSX, Inc. LLC',
 'Y': 'Bats BYX Exchange, Inc.',
 'Z': 'Bats BZX Exchange, Inc.'}