### TAQ Sandbox

Exploring using objects to simplify how we work with data. 
TAQ Reference : https://www.nyse.com/publicdocs/nyse/data/Daily_TAQ_Client_Spec_v3.0.pdf

In [1]:
import sys
sys.path.insert(0, "../Helper_Input")

from iex_helper import * #imports stock_data class from iex_helper.py

In [2]:
#stock_data class requires two inputs; quotes & trades

quotes = '../AAPL.1.5.18.csv'
trades = '../Trades1.5.18.csv'

AAPL_Jan_5 = quote_wrangler(quotes) #initiate class

In [6]:
quotes = AAPL_Jan_5.quotes_df
quotes.head(20) #already completed formatting

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
0,2018-01-04,09:30:00.002440,V,AAPL,172.24,1,173.28,1,0,R
1,2018-01-04,09:30:00.007893,Z,AAPL,172.25,3,173.17,3,0,R
2,2018-01-04,09:30:00.008077,Z,AAPL,172.25,3,173.17,3,0,R
3,2018-01-04,09:30:00.114854,P,AAPL,172.54,2,172.89,5,2,R
4,2018-01-04,09:30:00.162143,V,AAPL,169.33,3,173.28,1,0,R
5,2018-01-04,09:30:00.179964,P,AAPL,172.63,1,172.89,5,2,R
6,2018-01-04,09:30:00.192815,Q,AAPL,172.60,51,172.71,2,2,R
7,2018-01-04,09:30:00.199609,Z,AAPL,172.25,3,173.17,3,0,R
8,2018-01-04,09:30:00.216050,X,AAPL,172.64,1,172.95,10,2,R
9,2018-01-04,09:30:00.217465,V,AAPL,169.33,3,173.79,1,0,R
10,2018-01-04,09:30:00.226312,K,AAPL,172.51,1,173.00,1,0,R
11,2018-01-04,09:30:00.227268,Y,AAPL,165.84,1,172.93,1,0,R
12,2018-01-04,09:30:00.227995,V,AAPL,169.33,3,176.25,3,0,R
13,2018-01-04,09:30:00.242036,Z,AAPL,172.25,3,173.17,3,0,R
14,2018-01-04,09:30:00.242303,X,AAPL,172.46,6,172.95,10,2,R
15,2018-01-04,09:30:00.242620,J,AAPL,165.84,1,172.98,1,0,R
16,2018-01-04,09:30:00.258104,Z,AAPL,172.25,3,172.70,1,2,R
17,2018-01-04,09:30:00.265703,Z,AAPL,172.25,3,173.17,3,2,R
18,2018-01-04,09:30:00.265811,Y,AAPL,165.84,1,172.93,1,0,R
19,2018-01-04,09:30:00.295796,Y,AAPL,165.84,1,172.93,1,0,R

In [7]:
#As outlined in the email - first we only include QU_CONDs that contain 'O','R', or 'Y'
#Then I filter by whether or not the NATBBO includes a 4 (sets the NBBO)
#I also include optionality to innclude quotes that had a NATBBO Indicator of 2 

t = AAPL_Jan_5.BBO_series() #dont include 2 in the NATBBO Indicator 
t.head(20)

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
22,2018-01-04,09:30:00.426891,Q,AAPL,172.63,5,172.71,2,4,R
23,2018-01-04,09:30:00.428479,Q,AAPL,172.63,6,172.71,2,4,R
24,2018-01-04,09:30:00.430316,Q,AAPL,172.63,7,172.71,2,4,R
34,2018-01-04,09:30:00.492765,Q,AAPL,172.63,7,172.71,3,4,R
38,2018-01-04,09:30:00.522023,Q,AAPL,172.63,7,172.71,2,4,R
39,2018-01-04,09:30:00.522087,Q,AAPL,172.63,7,172.71,1,4,R
40,2018-01-04,09:30:00.522090,Q,AAPL,172.63,7,172.80,17,4,R
44,2018-01-04,09:30:00.524159,Q,AAPL,172.63,7,172.71,1,4,R
47,2018-01-04,09:30:00.544454,Q,AAPL,172.63,7,172.80,17,4,R
56,2018-01-04,09:30:00.547251,Q,AAPL,172.63,7,172.80,17,4,R
57,2018-01-04,09:30:00.551261,Q,AAPL,172.75,12,172.80,17,4,R
59,2018-01-04,09:30:00.571368,Q,AAPL,172.75,11,172.80,17,4,R
60,2018-01-04,09:30:00.571402,Q,AAPL,172.75,10,172.80,17,4,R
61,2018-01-04,09:30:00.571465,Q,AAPL,172.75,5,172.80,17,4,R
62,2018-01-04,09:30:00.571466,Q,AAPL,172.75,4,172.80,17,4,R
67,2018-01-04,09:30:00.574781,Q,AAPL,172.70,2,172.80,17,4,R
92,2018-01-04,09:30:00.793869,Q,AAPL,172.71,1,172.80,17,4,R
97,2018-01-04,09:30:00.830686,Q,AAPL,172.71,1,172.80,16,4,R
124,2018-01-04,09:30:01.061291,Z,AAPL,172.72,1,172.78,1,4,R
170,2018-01-04,09:30:01.461320,Q,AAPL,172.77,1,172.84,4,4,R

In [8]:
t = AAPL_Jan_5.BBO_series(use_two = True) #dont use 2 as the NATBBO Indicator
t.head(20)

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
3,2018-01-04,09:30:00.114854,P,AAPL,172.54,2,172.89,5,2,R
5,2018-01-04,09:30:00.179964,P,AAPL,172.63,1,172.89,5,2,R
6,2018-01-04,09:30:00.192815,Q,AAPL,172.60,51,172.71,2,2,R
8,2018-01-04,09:30:00.216050,X,AAPL,172.64,1,172.95,10,2,R
14,2018-01-04,09:30:00.242303,X,AAPL,172.46,6,172.95,10,2,R
16,2018-01-04,09:30:00.258104,Z,AAPL,172.25,3,172.70,1,2,R
17,2018-01-04,09:30:00.265703,Z,AAPL,172.25,3,173.17,3,2,R
20,2018-01-04,09:30:00.419196,X,AAPL,172.46,6,172.67,1,2,R
21,2018-01-04,09:30:00.419537,X,AAPL,172.46,6,172.95,10,2,R
22,2018-01-04,09:30:00.426891,Q,AAPL,172.63,5,172.71,2,4,R
23,2018-01-04,09:30:00.428479,Q,AAPL,172.63,6,172.71,2,4,R
24,2018-01-04,09:30:00.430316,Q,AAPL,172.63,7,172.71,2,4,R
34,2018-01-04,09:30:00.492765,Q,AAPL,172.63,7,172.71,3,4,R
35,2018-01-04,09:30:00.505282,P,AAPL,172.71,1,172.89,5,2,R
36,2018-01-04,09:30:00.505380,P,AAPL,172.63,1,172.89,5,2,R
38,2018-01-04,09:30:00.522023,Q,AAPL,172.63,7,172.71,2,4,R
39,2018-01-04,09:30:00.522087,Q,AAPL,172.63,7,172.71,1,4,R
40,2018-01-04,09:30:00.522090,Q,AAPL,172.63,7,172.80,17,4,R
44,2018-01-04,09:30:00.524159,Q,AAPL,172.63,7,172.71,1,4,R
47,2018-01-04,09:30:00.544454,Q,AAPL,172.63,7,172.80,17,4,R

In [12]:
AAPL_Jan_5.exchange_map

{'A': 'NYSE MKT LLC',
 'B': 'NASDAQ OMX BX, Inc.',
 'C': 'National Stock Exchange Inc. (NSX)',
 'D': 'Financial Industry Regulatory Authority, Inc. (FINRA ADF)',
 'I': 'International Securities Exchange, LLC (ISE)',
 'J': 'Bats EDGA Exchange, INC',
 'K': 'Bats EDGX Exchange, Inc.',
 'M': 'Chicago Stock Exchange, Inc. (CHX)',
 'N': 'New York Stock Exchange LLC',
 'P': 'NYSE Arca, Inc.',
 'S': 'Consolidated Tape System',
 'T': 'NASDAQ Stock Exchange, LLC (in Tape A, B securities)',
 'Q': 'NASDAQ Stock Exchange, LLC (in Tape C securities)',
 'V': 'The Investors’ Exchange, LLC (IEX)',
 'W': 'Chicago Broad Options Exchange, Inc.(CBOE)',
 'X': 'NASDAQ OMX PSX, Inc. LLC',
 'Y': 'Bats BYX Exchange, Inc.',
 'Z': 'Bats BZX Exchange, Inc.'}