### TAQ Sandbox

Exploring using objects to simplify how we work with data.

In [1]:
import sys
sys.path.insert(0, "../Helper_Input")

from iex_helper import * #imports stock_data class from iex_helper.py

In [4]:
#stock_data class requires two inputs; quotes & trades

quotes = '../AAPL.1.5.18.csv'
trades = '../Trades1.5.18.csv'

AAPL_Jan_5 = stock_data(quotes,trades) #initiate class

In [5]:
quotes = AAPL_Jan_5.quotes_df
quotes.head() #already completed formatting

,DateTime,Time,EX,SYM_ROOT,BID,ASK,NATBBO_IND
0,2018-01-04 09:30:00.002440,09:30:00.002440,V,AAPL,172.24,173.28,0
1,2018-01-04 09:30:00.007893,09:30:00.007893,Z,AAPL,172.25,173.17,0
2,2018-01-04 09:30:00.008077,09:30:00.008077,Z,AAPL,172.25,173.17,0
3,2018-01-04 09:30:00.114854,09:30:00.114854,P,AAPL,172.54,172.89,2
4,2018-01-04 09:30:00.162143,09:30:00.162143,V,AAPL,169.33,173.28,0