# Quote Wrangler and Trade Wrangler DEMO

In [6]:
import sys
sys.path.insert(0, "../Helper_Input")
from iex_helper import * #imports stock_data class from iex_helper.py
#######################################################3
quotes = '../Training_Files/AAPL_train.csv' #
q = pd.read_csv(quotes,low_memory = False)
AAPL_QW = Quote_Wrangler(quotes) #initiate class

In [7]:
help(AAPL_QW)

Help on Quote_Wrangler in module iex_helper object:

class Quote_Wrangler(builtins.object)
 |  Quote_Wrangler(quotes_file)
 |
 |  The Quote_Wrangler class is designed to take in a "quotes" file as downloaded from the TAQ database - and extract
 |  a time series of National Best Bid/Offer adjustments during a trading day.
 |
 |  Methods defined here:
 |
 |  BBO_series(self)
 |      Returns a dataframe that contains ONLY BB0 eligible Quotes as outlined by QU_COND codes 'O','R','Y'.
 |      For more information see the TAQ Reference guide.  https://www.nyse.com/publicdocs/nyse/data/Daily_TAQ_Client_Spec_v3.0.pdf
 |
 |  NB_combiner(self, exchange_filter='')
 |      Core function that breaks out quotes that adjust something related to either the National Best Bid or the
 |      National Best Offer, whether that be the actual price of the NBB/NBO or the quantity at the current NBB/NBO.
 |
 |      Using this function we can determine when exchanges join the NBB/NBO or create.
 |
 |      Exchange filter should be list - allows you to filter this process for a specific exchange
 |
 |  __init__(self, quotes_file)
 |      Intitialization -----------------------------------------------------------------------------------------------
 |
 |      The "quotes_file" input must include the file location - reccomendation is to use dynamic referencing as follows:
 |      "../Training_Files/<filenames>.csv"
 |
 |      The exchange map is a a transcodification between exchanges/trading venues, and the exchange codes in the TAQ files
 |
 |      the quotes_columns csv file defines what columns from the TAQ quote file we want to keep - as there are initially quite alot.
 |      To alter which columns we keep, simply edit the quotes_column file, found in the same location as the Quote_Wrangler class
 |
 |  create_join_flagger(self, nb_df, nbb_flag=True)
 |      either feed in NBO or NBB only dataframes
 |      nb_df is either NBO or NBB df
 |      NBB_flag True when using NBB data, False for NBO
 |
 |  exchange_analysis(self, exchange_BBO, NBBO)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## First, we use built in methods to extract the consolidated BBO or the NBBO series.

In [8]:
NBBO = AAPL_QW.NB_master
NBBO.head(15) #Consolidated NBBO

,Time,B_Exchanges,B_Vol_Ex,B_Vol_Tot,Bid,Ask,A_Vol_Tot,A_Vol_Ex,A_Exchanges,Flag,Spread,Mid,Weighted Avg Mid
0,09:00:06.476309,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.820000
1,09:00:22.725508,[P],[2.0],2.0,172.78,172.87,1.0,[1.0],[P],NBB,0.09,172.825,172.810000
2,09:00:22.763127,[P],[2.0],2.0,172.78,172.80,39.0,[39.0],[K],NBO,0.02,172.790,172.799024
3,09:00:23.331916,[P],[2.0],2.0,172.78,172.80,38.0,[38.0],[K],NBO,0.02,172.790,172.799000
4,09:00:47.518971,[P],[2.0],2.0,172.78,172.80,33.0,[33.0],[K],NBO,0.02,172.790,172.798857
5,09:00:48.930833,[P],[1.0],1.0,172.77,172.80,33.0,[33.0],[K],NBB,0.03,172.785,172.799118
6,09:00:48.950897,[P],[1.0],1.0,172.77,172.80,32.0,[32.0],[K],NBO,0.03,172.785,172.799091
7,09:00:50.328567,[P],[1.0],1.0,172.77,172.80,28.0,[28.0],[K],NBO,0.03,172.785,172.798966
8,09:01:01.584113,[P],[1.0],1.0,172.77,172.80,21.0,[21.0],[K],NBO,0.03,172.785,172.798636
9,09:01:13.584744,[P],[1.0],1.0,172.77,172.80,18.0,[18.0],[K],NBO,0.03,172.785,172.798421
10,09:01:13.585644,[P],[1.0],1.0,172.77,172.82,1.0,[1.0],[K],NBO,0.05,172.795,172.795000
11,09:01:13.585768,[Y],[1.0],1.0,172.78,172.82,1.0,[1.0],[K],NBB,0.04,172.800,172.800000
12,09:01:13.585769,"[K, Y]","[1.0, 1.0]",2.0,172.78,172.82,1.0,[1.0],[K],NBB,0.04,172.800,172.793333
13,09:01:13.585790,"[J, K, Y]","[1.0, 1.0, 1.0]",3.0,172.78,172.82,1.0,[1.0],[K],NBB,0.04,172.800,172.790000
14,09:01:13.585809,"[J, K, Y, Z]","[1.0, 1.0, 1.0, 1.0]",4.0,172.78,172.82,1.0,[1.0],[K],NBB,0.04,172.800,172.788000

## Now we want to analyze a specific exchange - 'P' for NYSE ARCA

In [9]:
ARCA= AAPL_QW.NB_combiner(exchange_filter=['P']) #ARCA
ARCA.head(15)

,Time,B_Exchanges,B_Vol_Ex,B_Vol_Tot,Bid,Ask,A_Vol_Tot,A_Vol_Ex,A_Exchanges,Flag,Spread,Mid,Weighted Avg Mid
0,09:00:06.476309,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.8200
1,09:00:22.725508,[P],[2.0],2.0,172.78,172.87,1.0,[1.0],[P],NBB,0.09,172.825,172.8100
2,09:00:48.930833,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.8200
3,09:00:58.906143,[P],[1.0],1.0,172.77,172.88,3.0,[3.0],[P],NBO,0.11,172.825,172.8525
4,09:01:02.624291,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBO,0.10,172.820,172.8200
5,09:01:13.586037,[P],[1.0],1.0,172.78,172.87,1.0,[1.0],[P],NBB,0.09,172.825,172.8250
6,09:01:13.616029,[P],[1.0],1.0,172.77,172.87,1.0,[1.0],[P],NBB,0.10,172.820,172.8200
7,09:01:29.464166,[P],[1.0],1.0,172.77,172.86,2.0,[2.0],[P],NBO,0.09,172.815,172.8300
8,09:02:20.868782,[P],[3.0],3.0,172.77,172.86,2.0,[2.0],[P],NBB,0.09,172.815,172.8060
9,09:02:30.105570,[P],[3.0],3.0,172.77,172.80,2.0,[2.0],[P],NBO,0.03,172.785,172.7820
10,09:02:35.421252,[P],[3.0],3.0,172.77,172.86,2.0,[2.0],[P],NBO,0.09,172.815,172.8060
11,09:04:10.588003,[P],[3.0],3.0,172.77,172.80,1.0,[1.0],[P],NBO,0.03,172.785,172.7775
12,09:04:10.588044,[P],[1.0],1.0,172.77,172.80,1.0,[1.0],[P],NBB,0.03,172.785,172.7850
13,09:04:10.588083,[P],[1.0],1.0,172.77,172.80,2.0,[2.0],[P],NBO,0.03,172.785,172.7900
14,09:04:10.688220,[P],[1.0],1.0,172.77,172.80,1.0,[1.0],[P],NBO,0.03,172.785,172.7850

In [ ]:
import timeit
start = timeit.timeit()
#find NBBO at each time
temp_time = ARCA.Time.iloc[12345]
nbo_list = []
nbb_list = []
NBBO_temp = NBBO.copy()
#this part takes a long time - figure it out
for i in range(0,len(ARCA)):
    temp_time = ARCA.Time.iloc[i]
    nbbo = NBBO_temp[NBBO_temp.Time <= temp_time].tail(1)
    NBBO_temp = NBBO_temp[NBBO_temp.Time >= temp_time]
    try:
        nbb = float(nbbo.Bid)
    except:
#         print("Check",nbbo.Bid) #usually empty
        print('ok')
        #what will happen is that it will take the last nbb 
    try:
        nbo = float(nbbo.Ask)
    except:
#         print("check", nbbo.Ask)
        print('ok')
#     print(nbb,nbo)
    nbo_list.append(nbo)
    nbb_list.append(nbb)

ARCA_temp = ARCA.copy()

ARCA_temp['NBB'] = nbb_list
ARCA_temp['NBO'] = nbo_list
ARCA_temp
end = timeit.timeit()
elapsed = (end - start)
print("Time elapsed is ",elapsed)
#TO DO, keep splicing the NBBO database

In [ ]:
ARCA_temp

## Now that we have both the NBBO and ARCA's BBO series - we can identify cases of joining vs creating. This is done using the built in method "exchange analyzer"

In [ ]:
#AAPL_QW.exchange_analysis(ARCA,NBBO)

In [ ]:
test = AAPL_QW.create_join_flagger(ARCA)

##### Isolate just the NBB and NBO for analysis - already built in as NBB or NBO

In [ ]:
BBO = AAPL_QW.BBO_series()
BBO[BBO.NATBBO_IND == 4] #figure out the difference between 4 and 2

In [ ]:
test = AAPL_QW.NB_combiner(exchange_filter = ['P'])

In [ ]:
test

##### Extract instances of Joining and Creating (Can either leave as function or build into initiliazation of class
Using the create_join_flagger function, and specifying whether we are looking at bids or asks - we can alter our NBB/NBO dfs to include a column for creating/joining

In [ ]:
# NBB_Create_Joins = AAPL_QW.create_join_flagger(AAPL_QW.NBB,nbb_flag = True)
# NBO_Create_Joins = AAPL_QW.create_join_flagger(AAPL_QW.NBO,nbb_flag = False)

In [ ]:
NBB_Create_Joins.head(15)

In [ ]:
NBO_Create_Joins.head(15)

### Next Steps
1. Quality check on joining/creating flags - make sure they make sense
2. Match trades to order book

## Trade Wrangler

In [ ]:
trades = '../Training_Files/Trades1.5.18.csv' #
t = pd.read_csv(trades,low_memory = False)
#isolate AAPL only trades
aapl_trades = t[t.SYM_ROOT == 'AAPL']
#aapl_trades.to_csv('../Training_Files/AAPL_trades.csv')
aapl_trades.head()

### Column Descriptions of Trade file can be found in the NYSE Client Spec document pg 17
TR_SCOND -> Sale Condition

TR_CORR -> Trade Correction Indicator (could be important)

TR_SOURCE -> Trade Source (N = UTP)

#### Now we want to try and match trades to the limit order book based on time

In [ ]:
aapl_tw = Trade_Wrangler('../Training_Files/AAPL_trades.csv')

In [ ]:
help(aapl_tw)

In [ ]:
aapl_tw.trades.head()

#### Using the trade_finder method in the Trade_Wrangler class we can find all trades that happened after a specified timestamp

We can either grab x number of trades after or all trades that happened within a certain time interval after the specified timestamp

In [ ]:
from IPython.display import display

time_1 = '09:31:00.000000'
print("Five Trades that happened after: ",time_1)
#find first five trades after time_1
display(aapl_tw.trade_finder(time_1,5)) #get first five trades that happened after time_1

#OR get trades that happened 2 seconds after time_1
print("\n Trades that happened 1 second after: ",time_1)
#find first five trades after time_1
display(aapl_tw.trade_finder(time_1,0,time_after = 1)) #get first five trades that happened after time_1

### Analytics

- Limit Order Book metrics:
    - Depth
    - Imbalance
- Trade Metrics 
    - Total trading volume
    - Comparison of trade price to NBBO

In [ ]:
aapl_tw.volume_finder(time_1,5)#get first five trades that happened after time_1

Find mid-price of NBBO at most recent time of each transaction

In [ ]:
NBO_Create_Joins