### TAQ Sandbox

Exploring using objects to simplify how we work with data. 
TAQ Reference : https://www.nyse.com/publicdocs/nyse/data/Daily_TAQ_Client_Spec_v3.0.pdf

#### 1. Import class from iex_helper

In [1]:
import sys
sys.path.insert(0, "../Helper_Input")

from iex_helper import * #imports stock_data class from iex_helper.py

#### 2. Use quote_wrangler to prepare data from wrds

In [2]:
#stock_data class requires two inputs; quotes & trades

quotes = '../test3.csv'
q = pd.read_csv(quotes,low_memory = False)
AAPL = quote_wrangler(quotes) #initiate class

In [3]:
q.head()

,DATE,TIME_M,EX,BID,BIDSIZ,ASK,ASKSIZ,QU_COND,QU_SEQNUM,NATBBO_IND,QU_CANCEL,QU_SOURCE,SYM_ROOT,SYM_SUFFIX
0,20180104,9:00:06.476309233,P,172.77,1,172.87,1,R,132030,2,NaN,N,AAPL,NaN
1,20180104,9:00:22.725508633,P,172.78,2,172.87,1,R,132470,2,NaN,N,AAPL,NaN
2,20180104,9:00:22.763127298,K,172.76,14,172.80,39,R,132471,2,NaN,N,AAPL,NaN
3,20180104,9:00:23.331916674,K,172.76,14,172.80,38,R,132474,2,NaN,N,AAPL,NaN
4,20180104,9:00:37.412058420,K,172.76,19,172.80,38,R,132741,0,NaN,N,AAPL,NaN

##### 3. Formatted Quotes DF

In [7]:
quotes = AAPL.quotes_df
quotes[(quotes['Time'] >= '09:30:00') & (quotes['Time'] <= '09:30:01')] #already completed formatting

,DateTime,Time,EX,SYM_ROOT,BID,BIDSIZ,ASK,ASKSIZ,NATBBO_IND,QU_COND
655,2018-01-04,09:30:00.002440,V,AAPL,172.24,1,173.28,1,0,R
656,2018-01-04,09:30:00.007893,Z,AAPL,172.25,3,173.17,3,0,R
657,2018-01-04,09:30:00.008077,Z,AAPL,172.25,3,173.17,3,0,R
658,2018-01-04,09:30:00.114854,P,AAPL,172.54,2,172.89,5,2,R
659,2018-01-04,09:30:00.162143,V,AAPL,169.33,3,173.28,1,0,R
660,2018-01-04,09:30:00.179964,P,AAPL,172.63,1,172.89,5,2,R
661,2018-01-04,09:30:00.192815,Q,AAPL,172.60,51,172.71,2,2,R
662,2018-01-04,09:30:00.199609,Z,AAPL,172.25,3,173.17,3,0,R
663,2018-01-04,09:30:00.216050,X,AAPL,172.64,1,172.95,10,2,R
664,2018-01-04,09:30:00.217465,V,AAPL,169.33,3,173.79,1,0,R
665,2018-01-04,09:30:00.226312,K,AAPL,172.51,1,173.00,1,0,R
666,2018-01-04,09:30:00.227268,Y,AAPL,165.84,1,172.93,1,0,R
667,2018-01-04,09:30:00.227995,V,AAPL,169.33,3,176.25,3,0,R
668,2018-01-04,09:30:00.242036,Z,AAPL,172.25,3,173.17,3,0,R
669,2018-01-04,09:30:00.242303,X,AAPL,172.46,6,172.95,10,2,R
670,2018-01-04,09:30:00.242620,J,AAPL,165.84,1,172.98,1,0,R
671,2018-01-04,09:30:00.258104,Z,AAPL,172.25,3,172.70,1,2,R
672,2018-01-04,09:30:00.265703,Z,AAPL,172.25,3,173.17,3,2,R
673,2018-01-04,09:30:00.265811,Y,AAPL,165.84,1,172.93,1,0,R
674,2018-01-04,09:30:00.295796,Y,AAPL,165.84,1,172.93,1,0,R
675,2018-01-04,09:30:00.419196,X,AAPL,172.46,6,172.67,1,2,R
676,2018-01-04,09:30:00.419537,X,AAPL,172.46,6,172.95,10,2,R
677,2018-01-04,09:30:00.426891,Q,AAPL,172.63,5,172.71,2,4,R
678,2018-01-04,09:30:00.428479,Q,AAPL,172.63,6,172.71,2,4,R
679,2018-01-04,09:30:00.430316,Q,AAPL,172.63,7,172.71,2,4,R
680,2018-01-04,09:30:00.454717,Z,AAPL,172.25,3,173.17,3,0,R
681,2018-01-04,09:30:00.474096,B,AAPL,165.84,1,173.11,2,0,R
682,2018-01-04,09:30:00.474101,B,AAPL,165.84,1,179.71,1,0,R
683,2018-01-04,09:30:00.474214,J,AAPL,165.84,1,179.71,3,0,R
684,2018-01-04,09:30:00.474285,Y,AAPL,165.84,1,179.71,2,0,R
...,...,...,...,...,...,...,...,...,...,...
743,2018-01-04,09:30:00.694697,K,AAPL,172.70,1,173.00,1,0,R
744,2018-01-04,09:30:00.709947,B,AAPL,165.84,1,172.80,4,0,R
745,2018-01-04,09:30:00.773612,B,AAPL,165.84,1,172.80,5,0,R
746,2018-01-04,09:30:00.785704,K,AAPL,172.63,1,173.00,1,0,R
747,2018-01-04,09:30:00.793869,Q,AAPL,172.71,1,172.80,17,4,R
748,2018-01-04,09:30:00.793970,B,AAPL,165.84,1,172.80,5,0,R
749,2018-01-04,09:30:00.798341,K,AAPL,172.63,1,173.00,1,0,R
750,2018-01-04,09:30:00.800193,B,AAPL,165.84,1,172.80,5,0,R
751,2018-01-04,09:30:00.821843,Y,AAPL,172.57,1,179.71,2,0,R
752,2018-01-04,09:30:00.830686,Q,AAPL,172.71,1,172.80,16,4,R
753,2018-01-04,09:30:00.830853,B,AAPL,165.84,1,172.80,5,0,R
754,2018-01-04,09:30:00.831432,Y,AAPL,172.57,1,179.71,2,0,R
755,2018-01-04,09:30:00.876956,B,AAPL,165.84,1,172.80,1,0,R
756,2018-01-04,09:30:00.934636,P,AAPL,172.63,2,172.76,1,2,R
757,2018-01-04,09:30:00.944937,B,AAPL,165.84,1,179.71,1,0,R
758,2018-01-04,09:30:00.949071,P,AAPL,172.63,2,172.89,5,2,R
759,2018-01-04,09:30:00.950932,K,AAPL,172.71,1,173.00,1,0,R
760,2018-01-04,09:30:00.960393,P,AAPL,172.63,2,172.76,1,2,R
761,2018-01-04,09:30:00.965974,Q,AAPL,172.75,1,172.80,16,2,R
762,2018-01-04,09:30:00.967318,K,AAPL,172.75,1,173.00,1,0,R
763,2018-01-04,09:30:00.968695,K,AAPL,172.75,1,173.00,1,0,R
764,2018-01-04,09:30:00.969485,P,AAPL,172.63,2,172.89,5,2,R
765,2018-01-04,09:30:00.969646,Q,AAPL,172.71,1,172.80,16,2,R
766,2018-01-04,09:30:00.970184,K,AAPL,172.75,1,173.00,1,0,R
767,2018-01-04,09:30:00.970782,K,AAPL,172.63,1,173.00,1,2,R
768,2018-01-04,09:30:00.971897,K,AAPL,172.63,1,173.00,1,0,R
769,2018-01-04,09:30:00.972733,P,AAPL,172.70,1,172.89,5,0,R
770,2018-01-04,09:30:00.973532,P,AAPL,172.70,1,172.85,1,0,R
771,2018-01-04,09:30:00.973956,P,AAPL,172.71,1,172.85,1,0,R
772,2018-01-04,09:30:00.993817,P,AAPL,172.63,2,172.85,1,0,R

##### 4. NBB Tracker (Bid Side)

In [8]:
NBB_df = AAPL.NBB_combiner()

In [10]:
NBB_df[(NBB_df['Time'] >= '09:29:00') & (NBB_df['Time'] <= '09:31:00')]

# filtered_df = AAPL_Jan_5.BBO_series()
# ex_dict = {k:0 for k in AAPL_Jan_5.exchange_map.keys()}
# cols = ['BID']

,Time,Exchanges,NBB,Bid Size Total,Best Ask,Ask Vol
62,09:29:49.809002,[Q],172.75,2.0,172.80,17.0
63,09:29:59.905597,[Q],172.71,14.0,172.80,17.0
64,09:29:59.905600,[P],172.63,2.0,172.89,5.0
65,09:30:00.114854,[Q],172.60,51.0,172.71,1.0
66,09:30:00.179964,[P],172.63,1.0,172.89,5.0
67,09:30:00.216050,[X],172.64,1.0,172.95,10.0
68,09:30:00.242303,[P],172.63,1.0,172.89,5.0
69,09:30:00.505282,[P],172.71,1.0,172.89,5.0
70,09:30:00.505380,"[P, Q]",172.63,8.0,172.89,8.0
71,09:30:00.551261,[Q],172.75,12.0,172.80,17.0
72,09:30:00.574781,[Q],172.70,2.0,172.80,17.0
73,09:30:00.793869,[Q],172.71,1.0,172.80,17.0
74,09:30:00.965974,[Q],172.75,1.0,172.80,16.0
75,09:30:00.970782,[Q],172.71,1.0,172.80,16.0
76,09:30:01.061291,[Z],172.72,1.0,172.78,1.0
77,09:30:01.095583,[P],172.76,1.0,172.89,5.0
78,09:30:01.316109,[Y],172.77,1.0,173.30,1.0
79,09:30:01.346095,[P],172.76,2.0,172.89,5.0
80,09:30:01.461320,[Q],172.77,1.0,172.84,4.0
81,09:30:01.500196,[J],172.81,1.0,173.30,1.0
82,09:30:01.753288,[Z],172.82,2.0,173.23,3.0
83,09:30:01.769430,"[B, K, P]",172.81,6.0,173.30,21.0
84,09:30:02.869882,[K],172.78,1.0,172.91,1.0
85,09:30:02.870267,"[P, Q]",172.77,2.0,172.95,5.0
86,09:30:02.871334,[Q],172.81,1.0,172.88,4.0
87,09:30:03.606526,[Y],172.82,1.0,173.30,1.0
88,09:30:03.824636,"[K, P]",172.81,2.0,173.00,16.0
89,09:30:03.889385,[Z],172.82,1.0,172.99,1.0
90,09:30:04.615069,"[Q, Z]",172.80,2.0,172.88,6.0
91,09:30:07.661668,[Q],172.88,10.0,172.92,29.0
...,...,...,...,...,...,...
260,09:30:49.587706,"[K, Q, Z]",172.94,15.0,172.98,26.0
261,09:30:49.588055,"[B, K, P, Q, Y, Z]",172.93,30.0,172.96,29.0
262,09:30:49.589207,"[B, K, P, Q, Y, Z]",172.92,23.0,172.96,24.0
263,09:30:49.589257,[Q],172.93,1.0,172.96,6.0
264,09:30:49.590622,[Q],172.94,1.0,172.97,9.0
265,09:30:49.601995,"[K, Q, Z]",172.93,18.0,172.97,16.0
266,09:30:50.366987,[Q],172.94,5.0,172.96,2.0
267,09:30:50.367456,[Z],172.96,1.0,172.99,3.0
268,09:30:50.641993,"[B, Q]",172.95,5.0,173.00,8.0
269,09:30:51.895607,[Z],172.97,1.0,173.02,7.0
270,09:30:52.934360,[Q],172.98,6.0,173.04,3.0
271,09:30:54.607232,[Q],172.99,8.0,173.04,2.0
272,09:30:55.078647,[Q],173.00,8.0,173.05,20.0
273,09:30:55.078670,"[B, K, Q, Y, Z]",172.99,26.0,173.06,28.0
274,09:30:55.078675,[Q],173.00,1.0,173.05,20.0
275,09:30:55.079543,[Q],173.01,9.0,173.04,1.0
276,09:30:55.607373,[Q],173.00,3.0,173.04,3.0
277,09:30:55.660843,[Q],173.01,3.0,173.04,1.0
278,09:30:56.745686,[P],173.02,1.0,173.06,1.0
279,09:30:57.371434,"[J, P]",173.01,2.0,173.26,2.0
280,09:30:57.712011,"[K, Z]",173.00,9.0,173.05,14.0
281,09:30:57.712048,"[K, Q, X, Y, Z]",172.99,17.0,173.05,22.0
282,09:30:57.714684,[V],173.01,1.0,173.81,1.0
283,09:30:57.716750,"[K, X, Z]",172.99,4.0,173.05,16.0
284,09:30:57.730836,[Q],173.00,10.0,173.04,5.0
285,09:30:57.756487,"[B, K, Q, X, Y, Z]",172.99,22.0,173.04,34.0
286,09:30:58.058069,"[B, K, Q, Z]",172.98,32.0,173.04,21.0
287,09:30:59.222623,[Q],172.99,7.0,173.01,3.0
288,09:30:59.239915,[Z],173.00,1.0,173.03,4.0
289,09:30:59.246018,[B],173.02,1.0,173.04,1.0